# ╔═══════════════════════════════════════════════════════════════════════════
# ║ Ⓒ 2024 ᴅᴇᴠꜱʜɪᴠᴀᴍᴄᴏᴅᴇꜱ | ɢɪᴛʜᴜʙ: https://github.com/Devshivamcodes
# ║ ᴀʟʟ ʀɪɢʜᴛꜱ ʀᴇꜱᴇʀᴠᴇᴅ. ᴜꜱᴀɢᴇ ᴏʀ ʀᴇᴘʀᴏᴅᴜᴄᴛɪᴏɴ ᴡɪᴛʜᴏᴜᴛ ᴄʀᴇᴅɪᴛ ɪꜱ ᴘʀᴏʜɪʙɪᴛᴇᴅ.
# ║ ʟɪᴄᴇɴꜱᴇᴅ ᴜɴᴅᴇʀ ᴛʜᴇ ᴀᴘᴀᴄʜᴇ ʟɪᴄᴇɴꜱᴇ, ᴠᴇʀꜱɪᴏɴ 2.0
# ║ ʏᴏᴜ ᴍᴜꜱᴛ ᴘʀᴏᴠɪᴅᴇ ᴄʀᴇᴅɪᴛ ᴡʜᴇɴ ᴜꜱɪɴɢ ᴏʀ ᴍᴏᴅɪꜰʏɪɴɢ ᴛʜɪꜱ ᴄᴏᴅᴇ.
# ║ ʟɪᴄᴇɴꜱᴇ ᴅᴇᴛᴀɪʟꜱ: http://www.apache.org/licenses/LICENSE-2.0
# ╚═══════════════════════════════════════════════════════════════════════════

# ✅ ɪɢɴᴏʀᴇ ᴄᴀᴄʜᴇ ꜰɪʟᴇꜱ ᴀɴᴅ ᴜɴɴᴇᴄᴇꜱꜱᴀʀʏ ꜰᴏʟᴅᴇʀꜱ /

__pycache__/   
Downloads/   
config.py 
test.py
log.txt 
sample_page.png
