# ✅ ᴛʜɪꜱ ɪꜱ ᴛʜᴇ ʀᴇǫᴜɪʀᴇᴍᴇɴᴛꜱ ꜰɪʟᴇ ꜰᴏʀ ᴛʜᴇ ᴅɪᴀʀʏ ʙᴏᴛ

pyrofork
motor
aiofiles==24.1.0
aiohttp==3.11.7
tgcrypto==1.2.5
datetime==5.5
python-dotenv==1.0.1
bcrypt==4.1.2
pymongo==4.6.3

# ✅ ᴛᴏ ɪɴꜱᴛᴀʟʟ ᴛʜᴇꜱᴇ ᴘᴀᴄᴋᴀɢᴇꜱ, ʀᴜɴ ᴛʜᴇ ꜰᴏʟʟᴏᴡɪɴɢ ᴄᴏᴍᴍᴀɴᴅ ɪɴ ʏᴏᴜʀ ᴘʀᴏᴊᴇᴄᴛ ᴅɪʀᴇᴄᴛᴏʀʏ ᴛᴇʀᴍɪɴᴀʟ:
# 🔹 pip install -r requirements.txt
